@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Scroll bar */
  
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #38bdf8;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0ea5e9;
}